@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  .contents {
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    color: #1d3557;
    #title {
      font-weight: bold;
      color: white;
      text-align: center;
      background-color: #1d3557;
    }
    #description {
      text-align: center;
    }
    .btn {
      width: 150px;
      #calculate {
        background-color: royalblue;
      }
      #reset {
        background-color: tomato;
      }
    }
  }
}
