.contents {
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  form {
    margin: 10px 0;
    border-color: black;
    border-radius: 5px;
  }
  .result {
    color: red;
  }
}
